@charset "utf-8";
/* CSS Document */

body {
    background-color:#FFF;
}

a {
    text-decoration:none;
}

/* 内容样式 */
#content {
    margin-top:80px;
    position:relative;
    width:100%;
}

/* 内容顶部样式 */
#content_top {
}

/* 天猫会员缩略菜单样式 */
#member_nav {
    position:relative;
    float:left;
    left:6%;
}

#member_nav .member_logo {
    width:121px;
    height:43px;
    background:url(../images/icon/TB1UsQPIpXXXXXmXpXX.jSw.XXX-121-43.png) no-repeat center center;
    float:left;
}

#member_nav .more_list {
    float:left;
    background-color:#FFF;
    font-size:12px;
    position:relative;
    top:11px;
    z-index:2;
    margin-left:10px;
}

#member_nav .more_list .more {
    width:50px;
    height:22px;
    line-height:20px;
    cursor:pointer;
    text-indent:5px;
    background:url(../images/icon/down_gray.png) no-repeat right center;
    border:1px solid #CCC;
    z-index:2;
}

#member_nav .more_list ul {
    position:absolute;
    margin:0px;
    width:100px;
    overflow:hidden;
    border:1px solid #CCC;
    background-color:#FFF;
    padding:10px 5px;
    display:none;
    z-index:1;
}

#member_nav .more_list ul li {
    width:50px;
    padding:5px 0px;
    float:left;
}

#member_nav .more_list ul li a.a_style {
}

/* 内容顶部导航栏样式 */
#nav_bar {
    box-sizing:border-box;
    width:90%;
    height:30px;
    line-height:30px;
    margin:auto;
    padding-left:300px;
}

#nav_bar ul {
    display:inline-block;
    margin:0px;
    overflow:hidden;
}

#nav_bar ul li {
    float: left;
    margin:0px;
    background-color:#FFF;
    box-sizing:border-box;
    padding:0px 10px;
}

#nav_bar ul li span.nav_title {
    font-size:14px;
    font-weight:bold;
    color:#111;
    cursor:pointer;
    width:70px;
    display:block;
    text-align:center;
}

#nav_bar ul li span.nav_title.drop_arrow {
    background-image:url(../images/icon/down_gray.png);
    background-repeat:no-repeat;
    background-position:right center;
    background-size:15px 15px;
    text-align:left;
}

#nav_bar ul li div.drop_list {
    display:none;
}

#nav_bar ul li .drop_list a {
    display:block;
    font-size:12px;
    color:#222;
}

#nav_bar .integral_draw {
    float:right;
    font-size:14px;
    color:#222;
    cursor:pointer;
    background:url(../images/icon/TB1.wJdHXXXXXXpXpXX1DxgFpXX-20-20.png) no-repeat left center;
    padding-left:25px;
}

#nav_bar ul li span.nav_title:hover, 
#nav_bar ul li .drop_list a.a_style:hover, 
#nav_bar .integral_draw:hover {
    color:#900;
}

/* 轮播图样式 */
#carousel {
}

#carousel a {
}

#carousel a img {
}

#carousel ul {
}

#carousel ul li {
}

#carousel span {
}





/* 底部样式设置 */
#footer {
    width:auto;
    min-width:1283px;
}
#tmall_ensure {
    clear:both;
    width:1190px;
    height:100px;
    text-align:center;
    margin:20px auto;
    padding:0px;
    background:url(../images/ensure.jpg) no-repeat center center;
}
.footer_e {
    display:block;
    width:297px;
    height:100px;
    margin:0px;
    float:left;
}
#tmall_desc {
    height:240px;
    width:90%;
    margin:0px 5%;
    padding:0px;
    background:url(../images/tianmao3.png) 0px bottom no-repeat;
    border-top:1px solid #999;
}
.tmall_desc {
    width:16%;
    float:left;
    padding:0px 20px;
    text-align:center;
    margin-bottom:0px;
}
.tmall_desc dd {
    margin:0px;
}
.tmall_desc a {
    font-size:12px;
    display:block;
    margin:5px 0px;
}
#tmall_copyright {
    height:250px;
    padding-left:60px;
    border-top:2px solid #c00;
    background:#222;
    font-size:12px;
}
#tmall_copyright p {
    clear:both;
    height:20px;
    line-height:20px;
    margin:20px 0px;
    padding:0px;
    color:#fff;
}
#tmall_copyright a {
    color:#fff;
    margin-right:3px;
    font-size:12px;
}
#tmall_copyright div {
    margin:20px 0px;
}
#tmall_copyright div span {
    display:inline-block;
    color:#999;
    margin-right:80px;
    padding:5px 0px;
}
#tmall_copyright div span a {
    color:#999;
}
#tmall_copyright div b {
    color:#666;
    font-weight:normal;
    font-size:12px;
    padding-left:4px;
}
